<h2>Create New Landmark</h2>

<!-- add content here -->
<form method="post" action="/landmarks">
  <input id="landmark_name"type="text" placeholder="name" name ="landmark[name]" value="">
  <input id="landmark_year_completed" type="text" placeholder="year completed" name="landmark[year_completed]" value="">

  <input type="submit" value="Create New Landmark">
</form>



<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
